<div id="headerwrap">
	<div class="container">
		<div class="row">
			{% for commit in site.posts limit:1 %}
			<div class="col-lg-8 col-lg-offset-2">
				<h3>Never forget...</h3>
				<h1>Hash: {{ commit.title }}</h1>
				<h5>Date: {{ commit.commitdate }}</h5>
				<h5>Message: {{ commit.message }}</h5>
			</div>
			<div class="col-lg-8 col-lg-offset-2 himg">
				<img src="{{ "/assets/img/commit/" | prepend: site.baseurl | append: commit.img }}" class="img-responsive">
			</div>
			{% endfor %}
		</div><!--/row -->
	</div> <!--/container -->
</div><!--/headerwrap -->
